.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */
.gallary-wrap { /*xs*/
  padding: 20px;
  column-count: 2;  
}

@media (min-width: 576px) {  /*sm*/
  .gallary-wrap {
    padding: 20px;
    column-count: 3;
  }
}
@media (min-width: 768px) {  /*md*/
  .gallary-wrap {
    padding: 20px;
    column-count: 4;
  }
}
@media (min-width: 992px) {  /*lg*/
  .gallary-wrap {
    padding: 20px;
    column-count: 4;
  }
}
@media (min-width: 1200px) { /*xl*/
  .gallary-wrap {
    padding: 20px;
    column-count: 4;
  }
}
@media (min-width: 1400px) { /*xxl*/
  .gallary-wrap {
    padding: 20px;
    column-count: 4;
  }
}

.gallery-item {
  display: flex;
  break-inside: avoid;
  
}
.img-responsive{
  width: 100%;
  transition: 0.3s;
  margin-top: 10px;
}
.gallary-wrap .gallery-item:hover img {
  transform: scale(1.02);
}

.gallery-error {
  color: red;
  font-size: 1.2rem;
}